.card {
  cursor: pointer;
  margin-bottom: 1.5rem;
  width: 100%;

  &:hover {
    .card-title {
      color: #979fd0;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &-title {
    transition: color 0.2s ease-in-out;
  }
}
